/* CSS File for Mod Four  */

.logoIndex {
	margin-top: 20px;
	margin-left: 20px;
}

/******** Font Style ********/
h1 {
	font-family: 'Montserrat', sans-serif;
	color: white;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: white;
}

h3 a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: white;
}

h3 a:hover {
    text-decoration: none;
    color: white;
}

p a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: white;
}

p a:hover {
 	text-decoration: none;
 	color: white;
}

/******** index.html ********/

.titleIndex {
	margin-top: 10%;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 100px;
	font-weight: 600;
	animation: 
		droptop 0.5s ease-in,
		fadeintitle 0.5s ease-in;
}

@keyframes droptop {
	0% {
		margin-top: 0%;
	}
	100% {
		margin-top: 10%;
	}
}

@keyframes fadeintitle {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

.makept {
	animation: fadein 2s ease-in;
}

.imgIndex {
	animation: fadein 2s ease-in;
	animation-delay: 0s;
}

@keyframes fadein {
	0% {
		opacity: 0%;
	}
	25% {
		opacity: 0%;
	}
	75% {
		opacity: 100%;
	}
	100% {
		opacity: 100%;
	}
}

/******** Container Format ********/
.steps {
	margin-top: 100px;
}

.instruction {
	margin-top: 5%;
	margin-bottom: 5%;
}

.withdes {
	margin-top: 5%;
	margin-bottom: 0;
}

.description {
	margin-bottom: 5%;
}

.row2 {
	margin-top: 10%;
}

.next {
	margin-top: 10%;
}


/******** color.html - Four Squares ********/
.squareO {
	height: 100px;
 	width: 100px;
  	background-color: #F89D5B;
}

.squareW {
	height: 100px;
 	width: 100px;
  	background-color: #F6EEE2;
}

.squareG {
	height: 100px;
 	width: 100px;
  	background-color: #E5F6E2;
}

.squareB {
	height: 100px;
 	width: 100px;
  	background-color: #8DA1A4;
}


.shapeS {
	height: 100px;
 	width: 100px;
  	background-color: white;
  	opacity: 0.6;
}

.shapeC {
	height: 100px;
 	width: 100px;
 	border-radius: 50%;
  	background-color: white;
  	opacity: 0.6;
}


/* Reference: https://css-tricks.com/the-shapes-of-css/ */
.shapeT {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid white;  
    opacity: 0.6;
}

.shapeR {
	height: 100px;
 	width: 70px;
  	background-color: white;
  	opacity: 0.6;
}


/******** final.html - Four Squares ********/
#finalcomp {
	animation: fadeintitle 1s ease-in;
}

.textFinal1 {
	animation: fadeinA 2s ease-in;
}

@keyframes fadeinA {
	0% {
		opacity: 0%;
	}
	50% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

.textFinal2 {
	animation: fadeinB 4s ease-in;
}

@keyframes fadeinB {
	0% {
		opacity: 0%;
	}
	50% {
		opacity: 0%;
	}
	75% {
		opacity: 100%;
	}
	100% {
		opacity: 100%;
	}
}

.textFinal3 {
	animation: fadeinC 4s ease-in;
}

@keyframes fadeinC {
	0% {
		opacity: 0%;
	}
	50% {
		opacity: 0%;
	}
	75% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

.textFinal4 {
	animation: fadeinD 5s ease-in;
}

@keyframes fadeinD {
	0% {
		opacity: 0%;
	}
	80% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}












